* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-size: 100%;
    font-family: arial, helvetica;
}


/*centrar imagen*/

header .center {
    display: flex;
    justify-content: center;
    background: #ffdcbc;
}

header .center .img {
    width: 300px;
    height: 100px;
}


/*MENU*/

.navegacion {
    padding: 0px;
    background: #ffdcbc;
}

li img {
    width: 60px;
    padding: 0px;
}

.menu {
    list-style: none;
    padding: 0;
    background: #ffdcbc;
    width: 100%;
    max-width: 500px;
    margin-top: auto;
}

.menu li a {
    text-decoration: none;
    color: black;
    padding: 20px;
    display: block;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a:hover {
    color: white;
    background: #ef8354;
    transition: all 1s;
}


/*SUBMENU*/

.submenu {
    padding: 0;
    text-decoration: none;
    background: #ffdcbc;
    width: 100%;
    display: none;
}

.submenu li a:hover {
    color: white;
    background: #ef8354;
}

.menu .contactos:hover .submenu {
    padding: 0px;
    list-style: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 112px;
}

.menu .Catalogo:hover .submenu {
    padding: 0px;
    list-style: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 104px;
}


/*SUBMENU*/


/*MENU*/