body {
    background-size: 100%;
    background-repeat: no-repeat;
}

header {
    padding: 0;
    margin: center;
}

div {
    color: lightseagreen;
    font-size: 25px;
    font-style: oblique;
    margin: 30px;
}

.menu {
    list-style: none;
    padding: 0;
    background: lightseagreen;
    width: 90%;
    max-width: 150px;
    margin: left;
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li {
    text-align: aside;
}

.menu li a:hover {
    color: #092327;
    background: #ef8354;
}

.submenu li a:hover {
    color: #092327;
    background: #ef8354;
}

.submenu {
    padding: 0;
    list-style: none;
    text-decoration: none;
    background: lightseagreen;
    width: 100%;
    display: none;
}

.submenu li a {
    position: relative;
    display: block;
    padding: 20;
    font-family: arial, helvetica;
    text-decoration: none;
}

.menu li:hover .submenu {
    list-style: none;
    display: block;
}